#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

html,
body {
  overflow-y: scroll;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

.landing {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.3)
    ),
    url("./assets/remote-work-p.jpg");
  background-size: cover;
  background-position: center;
  width: 100rem;
  overflow-y: hidden;
}

.nav {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
}
