@import "tailwindcss";

:root {
  --mint: #ddfff7;
  --aqua: #93e1d8;
  --coral: #ffa69e;
  --berry: #aa4465;
  --grape: #462255;
}

html {
  background-color: white;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.bg-mint {
  background-color: var(--mint);
}

.text-mint {
  color: var(--mint);
}

.border-mint {
  border-color: var(--mint);
}

.hover\:text-mint:hover {
  color: var(--mint);
}

.bg-aqua {
  background-color: var(--aqua);
}

.text-aqua {
  color: var(--aqua);
}

.border-aqua {
  border-color: var(--aqua);
}

.hover\:text-aqua:hover {
  color: var(--aqua);
}

.bg-coral {
  background-color: var(--coral);
}

.text-coral {
  color: var(--coral);
}

.border-coral {
  border-color: var(--coral);
}

.hover\:text-coral:hover {
  color: var(--coral);
}

.bg-berry {
  background-color: var(--berry);
}

.text-berry {
  color: var(--berry);
}

.border-berry {
  border-color: var(--berry);
}
.hover\:text-berry:hover {
  color: var(--berry);
}
.hover\:bg-berry:hover {
  background-color: var(--berry);
}

.bg-grape {
  background-color: var(--grape);
}

.text-grape {
  color: var(--grape);
}

.border-grape {
  border-color: var(--grape);
}
.hover\:text-grape:hover {
  color: var(--grape);
}
.hover\:bg-grape:hover {
  background-color: var(--grape);
}
